:root {
    --primary-color: #E1CA96;
    --secondary-color: #ACA885;
    --accent1-color: #918B76;
    --accent2-color: #2C302C;
    --heading-font: "Merriweather Sans", sans-serif;
    --body-font: "Kantumruy Pro", sans-serif;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--accent2-color);
    text-align: center;
}

p{
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 100%;
}

#course-title{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    text-align: center;
    color: var(--accent2-color);
}

nav{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    background-color: var(--secondary-color);
}

.links a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
}

.links a:hover{
    color: white;
    font-weight: 700;
}



main{
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.card {
    display: grid;
    grid-template: auto 1fr auto/ auto 1fr auto;
    margin: 5px;
    outline: 1px solid var(--accent1-color);
}

.card h2{
    margin: 0;
    grid-column: 1/3;
    text-align: center;
    background-color: var(--secondary-color);
}

.card img{
    padding: 3px;
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    justify-self: center;
    align-self: center;
}

.card p{
    padding: 3px;
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    align-self: center;
    justify-self: center;
}

img {
    border-radius: 15px;
    width: 150px;
    height: auto;
}

footer{
    text-align: center;
    margin: 5px;
    padding: 2px;
    border-top: 3px dotted var(--accent1-color);
    background-color: var(--primary-color);
}


