:root {
    --primary-color: #000080;
    --secondary-color: gold;
    --accent-color: white;
    --heading-font: "Merriweather Sans", sans-serif;
    --body-font: "Kantumruy Pro", sans-serif;
}

.hero img {
  width: 100%;
  height: auto;
}

.data, .weather{
    text-align: center;
    text-decoration: none;
    grid-template-rows: 1fr 1fr;
    outline: 1px solid var(--secondary-color);
}


h2{
    grid-row: 1/2;
    text-align: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--accent-color);
    width: 100%;
    height: 100%;
}

.weather_head{
    margin-top: 0;
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
}


.icon{
    width: 1em;
    height: 1em;
}

footer{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 2px;
    border-top: 3px dotted var(--secondary-color);
    background-color: var(--primary-color);
}

.lower_text p{
    color: var(--accent-color);
}

header{
    display: flex;
    background-color: var(--primary-color);
    border-bottom: 3px dotted var(--secondary-color);
    align-items: center;
    justify-content: center;
}

h1{
    color: var(--accent-color);
    text-align: center;
}
